<form [formGroup]="registerForm" (ngSubmit)="onSave()">

  <div>
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  </div>

  <div>
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
  </div>

  <div>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
  </div>

  <div>
    <label for="phone">Phone number: </label>
    <input id="phone" type="text" formControlName="phone">
  </div>

  <div>
    <mat-chip-list selectable multiple>
      <mat-chip
        #c="matChip"
        *ngFor="let role of roleList"
        [value]="role"
        (click)="toggleSelection(c, role)"
      >
        {{role.roleName}}
      </mat-chip>
    </mat-chip-list>
  </div>

<div>
  <button mat-raised-button disabled type="submit"  [disabled]="!registerForm.valid" color="accent">Save</button>
</div>


</form>
